# Install OpenCV for data reading and use
opencv-python
# Matplotlib for visualising data
# matplotlib~=3.3.4
# Warping - backward and forward
flowpy
# fix problems with running some code
av
# used for RAFT
torch == 1.11.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision == 0.12.0+cu113
# for notebooks
ipykernel
numpy
scipy
# evaluation for images - skimage metricss
scikit-image 

# extracting seperate phonemes from videos using the text labels in the video
pytesseract
tesseract

# extracting seperate phonemes from videos using the text labels in the video
librosa

# audio segmentation
pydub